<!--I think this will live under an order show page... -->

<h2>Order Details</h2>

<ol>
  <% @order.orderitems.each do |orderitem| %>
    <li>ID: <%= orderitem.id %></li>
    <ul>
      <li>Product: <%= link_to orderitem.product.name, product_path(orderitem.product) %></li>
      <li>Order: <%= link_to orderitem.order.id, order_path(orderitem.order) %></li>
      <li>Quantity: <%= orderitem.quantity %></li>
    </ul>
  <% end %>
</ol>


<!--I think this will live under a merchant show page-->
<!--<h2>Associated Order Details</h2>-->

<!--<ul>-->
  <%# @merchant.products.each do |product| %>
    <%#= product.name %>
<!--    <ol>-->
    <%# product.orderitems.each do |orderitem| %>
<!--      <li>ID: <%#= orderitem.id %></li>-->
<!--      <li>Product: <%#= link_to orderitem.product.name, product_path(orderitem.product) %></li>-->
<!--      <li>Order: <%#= link_to orderitem.order.id, order_path(orderitem.order) %></li>-->
<!--      <li>Quantity: <%#= orderitem.quantity %></li>-->
    <%# end %>
<!--    </ol>-->
  <%# end %>
<!--</ul>-->