<h2>OrderItem Details</h2>

<ul>
  <li>ID: <%= @orderitem.id %></li>
  <li>Product: <%= link_to @orderitem.product.name, product_path(@orderitem.product_id) %></li>
  <li>Order: <%= link_to @orderitem.order.id, order_path(@orderitem.order_id) %></li>
  <li>Quantity: <%= @orderitem.quantity %></li>
</ul>


