<h1> welcome, <%=@current_merchant.username %></h1>

<nav>
  <%= link_to content_tag(:li, "edit your info"), edit_merchant_path(@current_merchant.id), method: :get %>
  <%= link_to content_tag(:li, "look at your store"), merchant_path(@current_merchant.id), method: :get %>
</nav>
<!-- some table here using the all orders method, link to ind. order as well -->