/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";

@import "**/*";

list-of-colors {
  color: #2E492F;
  color: #A5A48D;
  color: #F1F1F1;
  color: #84814F;
  color: #FFFFFF;
}


.card-image {
  width: 100%;
  height: 20vw;
  object-fit: cover;
  padding: 1vw;
}

//.card-body {
//  background-color: #A5A48D;
//}

.btn-primary {
  background-color: #2E492F;
  border-color: #2E492F;
  margin: 5px;
}


.btn-primary:hover {
  background-color: #84814F;
  border-color: #84814F;
}

.btn-primary:focus {
  background-color: #84814F;
  border-color: #84814F;
}

.btn-primary:active {
  background-color: #84814F;
  border-color: #84814F;
}
