<main>
  <h2>categories</h2>

  <ul>
    <% @cats.each do |cat| %>
      <%= link_to content_tag(:li, "#{cat.name}"), category_path(id: cat.id), method: :get%>
    <% end %>
  </ul>

  <% if !session[:user_id].nil? %>
    <%= button_to  "create new category", new_category_path, method: :get, class: "btn btn-primary" %>
  <% end %>
</main>