<main>
  <h2>products</h2>

    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
      <% @products.each do |product| %>
        <div class="col-sm-4 mb-3" >
          <div class="card p-2 border-primary">
            <% begin %>
              <%= link_to image_tag("#{product.photo_url}", class: "card-image"), product_path(product.id), method: :get%>
            <% rescue %>
              <%= link_to image_tag("https://lh3.googleusercontent.com/9mfAl9ExpjGohJLHTEeX4ArkHqt3RfEgEY59SbF7k2r7eavXbtjLiV8GvAcGK4unaX8QLghYJMGupuYm4_t7spq4k2IwEItlHT8hSobL_PByQL81W8Ni4dLy7Am42vmU3XT3LajEMg=w2400", class: "card-image"), product_path(product.id), method: :get%>
              <%#= link_to image_tag("defaultimage.jpg", class: "card-image"), product_path(product.id), method: :get%>
            <% end %>
            <div class="card-body">
              <%= link_to product.name, product_path(product.id), class: "card-title" %>
              <p class="card-text"> <%= number_to_currency(product.price) %> </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>

</main>
